<p>
This is a crash course that aims to introduce programming, targetting those without any prior experience.
Hopefully this will get you excited and interested to take a full programming course.
</p>
<h1>What is programming/coding</h1>
<p>A program is a set of instructions given to a machine/computer.
Programming is the writing of machine instructions.
</p>

<p>
You can communicate such instructions in a variety of ways:
</p>

<ul>
  <li>by souldering wires and transisters in a particular way,</li>
  <li>or by typing some 1's and 0's and let a machine intepret that,</li>
  <li>or by writing higher level programming languages like the ones you hear about, like C, Java, Python, etc, which somehow gets converted into 1's and 0's and then gets intepretted by the machine.</li>
</ul>

<p>
Click on each a title below to read the chapter.
</p>
