// Footer
//-------------------------------

footer {
    font-size: 0.5rem;
    margin-top: 2rem;
    color: var(--text-color-light);
    text-align: center;
    line-height: $base-line-height;
}

#disqus_thread {
}
